// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$clock: rgb(20, 26, 33);
$navbar: rgb(34, 47, 62);
$white: #ffffff;
$graybtn: rgb(158, 158, 158);
$bg-color: rgb(233, 237, 237);
$footer1: rgb(55, 70, 90);
$footer2: $navbar;
$footer3: rgb(18, 26, 34);